{% extends 'base.html' %}
{% load static %}
{% block content %}

	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	
	<!-- Header section -->
	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 header-top-left">
						<div class="top-info">
							<i class="fa fa-phone"></i>
							8118898116
						</div>
						<div class="top-info">
							<i class="fa fa-envelope"></i>
							kumawatkrishan658@gmail.com
						</div>
					</div>
					<div class="col-lg-6 text-lg-right header-top-right">
						<div class="top-social">
							<a href=""><i class="fa fa-facebook"></i></a>
							<a href=""><i class="fa fa-twitter"></i></a>
							<a href=""><i class="fa fa-instagram"></i></a>
							<a href=""><i class="fa fa-pinterest"></i></a>
							<a href=""><i class="fa fa-linkedin"></i></a>
						</div>
						<div class="user-panel">
							{% if user.is_authenticated %}
							<a href="{% url 'account_logout' %}"><i class="fa fa-lock"></i> Logout</a>
							{% else %}
							<a href="{% url 'account_login' %}"><i class="fa fa-sign-in"></i>Login</a>
							<a href="{% url 'account_signup' %}"><i class="fa fa-sign-up"></i> Signup</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="site-navbar">
						<a href="#" class="site-logo"><img src="{% static 'img/logo.png' %}" alt=""></a>
						<div class="nav-switch">
							<i class="fa fa-bars"></i>
						</div>
						<ul class="main-menu">
							<li><a href="/">Home</a></li>
							<li><a href="about.html">ABOUT US</a></li>						
							<li><a href="{% url 'core:create' %}">Blog</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header section end -->

<section class="hero-section set-bg"  style="height:600px;" data-setbg="{% static 'img/bg.jpg' %}">
	<div class="container hero-text text-white">
		<h2>find your place with our local life style</h2>
		<p>Search real estate property records, houses, condos, land and more on leramiz.com®.<br>Find property info from the most comprehensive source data.</p>
	</div>
</section>
	<!-- Filter form section -->
	<div class="filter-search">
		<div class="container">
			<form class="filter-form" action="{% url 'core:search' %}" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
				<input type="text" name="search" placeholder="Enter a street name, address number or keyword">
				<select>
					<option value="City" >jaipur</option>
					<option value="City" >jodhpur</option>
					<option value="City" >bikaner</option>
					<option value="City" >bhartpur</option>
					<option value="City" >mumbai</option>
					<option value="City" >ahamdabad</option>
					
				</select>
				<select>
					<option value="City">State</option>
				</select>
				<button style="float:right;" class="site-btn fs-submit" >SEARCH</button>
			</form>
		</div>
	</div>
	<!-- Filter form section end -->



	<!-- Properties section -->
	<section class="properties-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h3>RECENT PROPERTIES</h3>
				<p>Discover how much the latest properties have been sold for</p>
			</div>
			<div class="row">
				{% for i in object_list %}
				<div class="col-md-6">
			
				<a href="{% url 'core:item_detail' i.id %}">	<div class="propertie-item set-bg" data-setbg="{{ i.image.url }}">
						<div class="rent-notic">{{ i.get_status_display }}</div>
						<div class="propertie-info text-white">
							<div class="info-warp">
								<h5>{{ i.town_address }}</h5>
								<p><i class="fa fa-map-marker"></i> {{ i.city }}</p>
							</div>
							<div class="price">${{ i.price }}</div>
						</div>
					</div></a>
					
				</div>
				{% endfor %}
			</div>
		</div>
	</section>

	{% if is_paginated %}
      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">

          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {% endif %}


          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
		  {% endif %}
		  
          <li class="page-item active">
            <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </nav>
      {% endif %}
 

 



	<!-- feature category section -->
	<section class="feature-category-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h3>LOOKING PROPERTY</h3>
				<p>What kind of property are you looking for? We will help you</p>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6 f-cata">
					<img src="{% static 'img/feature-cate/1.jpg' %}" alt="">
					<h5>Apartment for rent</h5>
				</div>
				<div class="col-lg-3 col-md-6 f-cata">
					<img src="{% static 'img/feature-cate/2.jpg' %}" alt="">
					<h5>Family Home</h5>
				</div>
				<div class="col-lg-3 col-md-6 f-cata">
					<img src="{% static 'img/feature-cate/3.jpg' %}" alt="">
					<h5>Resort Villas</h5>
				</div>
				<div class="col-lg-3 col-md-6 f-cata">
					<img src="{% static 'img/feature-cate/4.jpg' %}" alt="">
					<h5>Office Building</h5>
				</div>
			</div>
		</div>
	</section>
	<!-- feature category section end-->


	 



	<!-- Review section -->
	<div class="container-fluid">	<section class="review-section set-bg" data-setbg="{% static 'img/review-bg.jpg' %}">
		<div class="container">
			<div class="review-slider owl-carousel">
				<div class="review-item text-white">
					<div class="rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<p>“Leramiz was quick to understand my needs and steer me in the right direction. Their professionalism and warmth made the process of finding a suitable home a lot less stressful than it could have been. Thanks, agent Tony Holland.”</p>
					<h5>Stacy Mc Neeley</h5>
					<span>CEP’s Director</span>
					<div class="clint-pic set-bg" data-setbg="{% static 'img/review/1.jpg' %}"></div>
				</div>
				<div class="review-item text-white">
					<div class="rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<p>“Leramiz was quick to understand my needs and steer me in the right direction. Their professionalism and warmth made the process of finding a suitable home a lot less stressful than it could have been. Thanks, agent Tony Holland.”</p>
					<h5>Stacy Mc Neeley</h5>
					<span>CEP’s Director</span>
					<div class="clint-pic set-bg" data-setbg="{% static 'img/review/1.jpg' %}"></div>
				</div>
				<div class="review-item text-white">
					<div class="rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<p>“Leramiz was quick to understand my needs and steer me in the right direction. Their professionalism and warmth made the process of finding a suitable home a lot less stressful than it could have been. Thanks, agent Tony Holland.”</p>
					<h5>Stacy Mc Neeley</h5>
					<span>CEP’s Director</span>
					<div class="clint-pic set-bg" data-setbg="{% static 'img/review/1.jpg' %}"></div>
				</div>
			</div>
		</div>
	</section>
</div>

	<!-- Review section end-->

 

{% endblock %}

	 
    